<form class="adfinitas-cx" novalidate data-source="{{ page.source }}" data-success="{{ page.page_de_remerciement_path }}">

  {% assign inputId=0 %}
  {% assign lineId=0 %}
  {% for champ in page.champs %}
    {% if champ.actif == true %}
    <div class="input-container"
	{% if champ.image_de_fond != nill and champ.image_de_fond != empty %}
	style="background-image: url('{{ champ.image_de_fond }}')"
	{% endif %}
      >
      <div class="row field-row"
	   id="slide-{{ lineId }}"
	   {% assign lineId=lineId | plus:1 %}
	>
        <div class="large-12 columns">
        {% case champ.type %}
        {% when 'champ_libre_court' %}
	  {% if champ.texte != nill and champ.texte != empty %}
	    <label class="label-champ_libre_court" for="input-{{ inputId }}">
	      {{ champ.texte }}
	    </label>
	  {% endif %}
          <input id="input-{{ inputId }}"
		 {% assign inputClasses = site.array %}
		 {% assign inputClasses = inputClasses
			   | push: 'input-champ_libre_court ' %}
		 {% if champ.controle == "email" %}
		 {% assign inputClasses = inputClasses
			   | push: 'check-email ' %}
                 type="email"
		 {% elsif champ.controle == "telephone" %}
		 {% assign inputClasses = inputClasses
			   | push: 'check-phone ' %}
		 type="text"
		 {% else %}
                 type="text"
		 {% endif %}
                 placeholder="{{ champ.placeholder }}"
		 name="{{ champ.nom }}"
		 {% if champ.propriété_visiteur %}
		 {% assign inputClasses = inputClasses
			   | push: 'visitor_property' %}
   		 {% endif %}
                 {% if champ.requis == true %}
		 required
		 {% endif %}
		 class="{{ inputClasses }}"
          />
	  {% assign inputId=inputId | plus:1 %}
          <p class="error-message">{{ champ.message_erreur }}</p>
        {% when 'champ_libre_long' %}
	  <p>TODO</p>
        {% when 'liste_deroulante' %}
	  <p>TODO</p>
        {% when 'choix_unique' %}
	  {% if champ.texte != nill and champ.texte != empty %}
	    <p class="texte-choix_multiple">{{ champ.texte }}</p>
	  {% endif %}
	  {% for reponse in champ.reponses %}
	    <input type="radio" id="input-{{ inputId }}"
	           value="{{ reponse.valeur}}"
	           name="{{ champ.nom }}"
                   {% if champ.requis == true %}
	           required
	           {% endif %}
		   {% if champ.propriété_visiteur %}
		   class="input-choix_multiple visitor_property" %}
		   {% else %}
		   class="input-choix_multiple"
   		   {% endif %}
	    />
	    <label class="label-choix_multiple" for="input-{{ inputId }}">
	      {{ reponse.valeur}}
      	    </label>
	    {% assign inputId=inputId | plus:1 %}
	  {% endfor %}
	  {% if champ.autre_reponse %}
	    <input type="radio" id="input-{{ inputId }}"
		   value="Autre réponse"
		   name="{{ champ.nom }}"
                   {% if champ.requis == true %}
	           required
	           {% endif %}
		   {% if champ.propriété_visiteur %}
		   class="input-choix_multiple other visitor_property" %}
		   {% else %}
		   class="input-choix_multiple other"
   		   {% endif %}
	    />
	    <input type="text" class="other-choice-text no-send"
		   id="other-{{ inputId }}"/>
	    {% assign inputId=inputId | plus:1 %}
	  {% endif %}
	  <p class="error-message">{{ champ.message_erreur }}</p>
        {% when 'choix_multiple' %}
	  <p>TODO</p>
        {% when 'champ_caché' %}
	  <p>TODO</p>
	{% else %}
	  <p style="color: red">[Erreur]: Type de champ inconnu: {{ champ.type }}</p>
        {% endcase %}
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  <div class="row field-row">
    <div class="large-12 columns">
      <input type="submit" value="Envoyer">
    </div>
  </div>

</form>
