<div class="panneau-introduction" style="background-image: url('{{ page.panneau_introduction.fond_image_path }}')">
  <div class="row">
    <div class="large-12 columns">
      {{ page.panneau_introduction.texte_html }}
    </div>
  </div>
</div>
<div class="panneau-question">
  <div class="row">
    <div class="large-12 columns">
      {{ page.panneau_question.texte_html }}
    </div>
  </div>
</div>
<form class="adfinitas-cx" novalidate data-source="{{ page.event_woopra }}" data-success="{{ page.page_de_remerciement_path }}">
  {% assign inputId=0 %}
  {% assign lineId=0 %}
  {% include form-fields.html champs=page.panneau_question.champs %}
  <div class="panneau-question">
    <div class="row">
      <div class="large-12 columns">
	{{ page.panneau_informations_personnelles.texte_html }}
      </div>
    </div>
  </div>
  {% include form-fields.html champs=page.panneau_informations_personnelles.champs %}
  {% for champ in page.options.champs_caches %}
	  <input id="input-{{ inputId }}"
		 type="hidden"
		 value="{{ champ.valeur }}"
		 {% assign inputClasses = site.array %}
		 {% assign inputClasses = inputClasses
			   | push: 'input-champ_cache ' %}
		 name="{{ champ.nom }}"
		 {% if champ.propriete_visiteur %}
		 {% assign inputClasses = inputClasses
			   | push: 'visitor_property' %}
   		 {% endif %}
		 class="{{ inputClasses }}"
	  />
	  {% assign inputId=inputId | plus:1 %}
  {% endfor %}

  <div class="row field-row">
    <div class="large-12 columns">
      <input type="submit" value="{{ page.bouton_de_soumission }}">
    </div>
  </div>

</form>
