---
---
/* Here you can design everything specific to the formulaire collection */
body, h1, h2, h3, h4, h5, h6, p {
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 500;
}

h2, h3 {
  color: #296b9b;
  .smallest {
    font-weight: 100;
  }
}

h1 {
    font-size: 62px;
}

.panneau-introduction,
.container-panneau_question > .input-container,
.container-panneau_informations_personnelles {
  @media screen and (min-width: 40em) {
    min-height: 100vh;
  }
  background-size: cover;
}

.container-panneau_question .field-row,
.container-panneau_informations_personnelles {
  @media screen and (min-width: 40em) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.container-panneau_question .field-row {
  @media screen and (min-width: 40em) {
    min-height: calc(100vh - 100px - 71px);
  }
}

.question-header {
  @media screen and (max-width: 39.9375em) {
    display: none;
  }
}

header, .question-header {
  @media screen and (max-width: 39.9375em) {
    text-align: center;
  }
  background-color: white;
  min-height: 120px;
  img.logo {
    display: inline-block;
    max-height: 100px;
    margin-top: 10px;
  }
  h2 {
    font-size: 25px;
    display: inline-block;
  }
  .question-number {
    height: 120px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    float: right;
    background-color: #2a6b9b;
    color: white;
    font-size: 40px;
    .position {
      font-size: 60px;
    }
  }
}

.question-footer {
  text-align: center;
  background-color: #30cedc;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button, input[type=submit] {
  background-color: #30cedc;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 45px;
  cursor:pointer;
  border: 0;
  color: white;
}

.panneau-introduction-texte {
  .columns {
    @media screen and (max-width: 39.9375em) {
      padding-top: 40px;
      padding-bottom: 20px;
    }
    @media screen and (min-width: 40em) {
      padding-left: 150px;
      padding-right: 150px;
      padding-top: 200px;
      padding-bottom: 50px;
    }
  }
  color: white;
  background-repeat: no-repeat;
  text-align: center;
  .intro-title {
    font-size: 45px;
    @media screen and (max-width: 39.9375em) {
      font-size: 30px;
    }
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;
  }
  .pape {
    width: 60px;
    margin-right: 10px;
  }
  .pape-name {
    font-style: italic;
    font-weight: bold;
    display: inline-block;
  }
  .description {
    font-size: 20px;
    line-height: 1.2;
    @media screen and (min-width: 40em) {
      padding-left: 150px;
      padding-right: 150px;
    }
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.container-panneau_question .input-container  {
  p.label-choix_unique, p.label-choix_multiple {
    color: #2a6b9b;
    @media screen and (max-width: 39.9375em) {
      font-size: 26px;
      margin-top: 20px;
    }
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
    .source {
      display: block;
      font-size: 14px;
    }
  }
  .field-row .columns {
    @media screen and (min-width: 40em) {
      padding-left: 150px;
      padding-right: 150px;
    }
  }
  .reponse-container-choix_multiple {
    @media screen and (min-width: 40em) {
      padding-left: 150px;
      padding-right: 150px;
    }
    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }
  label {
    color: #3c3c3c;
  }
}

#slide-1 {
  p.label-choix_unique, label {
    color: white;
  }
}

footer {
  padding-top: 20px;
  background-color: #31353f;
  .logo {
    max-height: 100px;
  }
  .links {
    padding-top: 30px;
    &, a, a:hover {
      color: white;
    }
  }
  .social-links {
    padding-top: 25px;
  }
  .logo, .links, .social-links {
    display: inline-block;
  }
  .columns {
    @media screen and (min-width: 40em) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @media screen and (max-width: 39.9375em) {
      text-align: center;
      padding-bottom: 40px;
    }
  }
}

form > .field-row .columns {
  text-align: center;
}

input[type=radio], input[type=checkbox] {
  display: none;
}

input[type=radio] + label .radio-checkbox,
input[type=checkbox] + label .radio-checkbox {
  display:inline-block;
  margin-top: 10px;
  margin-right: 15px;
  vertical-align: top;
  width:23px;
  height:23px;
  background:url("/uploads/radio-1.png") left top no-repeat;
  cursor:pointer;
}

input[type=checkbox]:checked + label .radio-checkbox,
input[type=radio]:checked + label .radio-checkbox {
  background-position: -23px top !important;
}

.label-container {
  font-size: 20px;
  display: inline-block;
  width: calc(100% - 40px);
}

#slide-2 input[type=checkbox] + label .radio-checkbox {
  background:url("/uploads/radio-2.png") left top no-repeat;
}

.container-panneau_informations_personnelles {
  @media screen and (max-width: 39.9375em) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.container-panneau_informations_personnelles .label-container {
  color: #73879c;
  font-size: 22px;
  font-weight: 500;
}

.reduced-width, #slide-6 .row, #slide-6 + .field-row {
  width: 100%;
  @media screen and (min-width: 40em) {
    padding-left: 150px;
    padding-right: 150px;
  }
}

#slide-6 + .field-row {
  text-align: center;
  margin-top: 30px;
}

.intl-tel-input {
  width: 100%;
}

#slide-6 {
  margin-top: 30px;
}

.intro-infos-perso {
  color: #506a85;
  font-weight: 500;
  font-size: 32px;
  @media screen and (min-width: 40em) {
    padding-left: 100px;
    padding-right: 100px;
  }
  text-align: center;
  margin-bottom: 40px;
}

textarea, input[type=text], input[type=email] {
  &, &:focus {
    background: transparent;
    border-radius: 3px;
    border-color: #30cedc;
    resize: none;
    margin-top: 10px;
    margin-bottom: 0;
    box-shadow: none;
    height: auto;
    padding: 15px;
    &, &::placeholder {
      color: #2a6b9b;
      opacity: 1;
      font-size: 21px;
    }
  }
}

.intl-tel-input {
  margin-top: 10px;
}

textarea {
  &, &:focus {
    &, &::placeholder {
      border-radius: 0;
      color: white;
    }
  }
}

section.merci, section.don {
  @media screen and (min-width: 40em) {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

section.merci {
  background-image: url("/uploads/intro-background.png");
  background-size: cover;
  text-align: center;
  .arrow {
    padding-top: 40px;
  }
  @media screen and (max-width: 39.9375em) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &, h2 {
    color: white;
  }
  h2 {
    text-transform: uppercase;
    font-size: 50px;
    @media screen and (max-width: 39.9375em) {
      font-size: 35px;
    }
  }
  p {
    font-size: 24px;
    @media screen and (min-width: 40em) {
      padding-left: 150px;
      padding-right: 150px;
    }
  }
}

section.merci-inter {
  padding-top: 100px;
  padding-bottom: 70px;
  text-align: center;
  color: #506a85;
  @media screen and (min-width: 40em) {
    .columns {
      padding-left: 200px;
      padding-right: 200px;
    }
  }
  .arrow {
    padding-top: 40px;
  }
  p {
    font-size: 20px;
  }
  .first-part {
  }
  .second-part {
    font-family: "museo",serif;
    font-weight: 700;
  }
}

section.don {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("/uploads/bg-merci.jpg");
  background-size: cover;
  text-align: center;
  &, h2 {
    color: white;
  }
  h2, .subtitle {
    font-family: "museo",serif;
  }
  h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    .second-line {
      font-weight: 500;
    }
  }
  .subtitle {
    font-size: 20px;
    @media screen and (min-width: 40em) {
      padding-left: 250px;
      padding-right: 250px;
    }
    margin-bottom: 50px;
  }
  .bloc-container {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
    @media screen and (min-width: 40em) {
      margin-left: 100px;
      margin-right: 100px;
    }
    background-color: white;
    .price-container {
      color: #6c5994;
      padding-top: 30px;
      @media screen and (min-width: 40em) {
	padding-bottom: 30px;
      }
      .avec {
	font-size: 24px;
	text-transform: uppercase;
	line-height: 1;
	color: #8e7cb4;
      }
      .price {
	font-size: 68px;
	line-height: 1;
      }
      .deduction {
	font-size: 12px;
	line-height: 1;
	display: block;
	padding-left: 50px;
	padding-right: 50px;
      }
    }
    .middle-text {
      text-align: left;
      font-weight: 500;
      color: #73879c;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .don-container {
      padding-right: 1px;
      padding-top: 1px;
      padding-bottom: 1px;
      @media screen and (max-width: 39.9375em) {
	padding: 0;
      }
      .purple-container {
	background-color: #6c5994;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
      }
      p {
	color: white;
	text-transform: uppercase;
	margin-bottom: 0;
	font-size: 21px;
      }
    }
  }
}
