---
---
/* Here you can design everything specific to the formulaire collection */
body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Poppins Regular', museo-sans, sans-serif;
  font-style: normal;
  font-weight: 500;
}

h2, h3 {
  color: white;
  .smallest {
    font-weight: 100;
  }
}

h1 {
    font-size: 62px;
}

.panneau-introduction,
.container-panneau_question > .input-container,
.container-panneau_informations_personnelles {
  @media screen and (min-width: 40em) {
    min-height: 100vh;
  }
  background-size: cover;
}

.container-panneau_question .field-row,
.container-panneau_informations_personnelles {
  @media screen and (min-width: 40em) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.container-panneau_question .field-row {
  @media screen and (min-width: 40em) {
    min-height: calc(100vh - 100px - 71px);
  }
}

.question-header {
  @media screen and (max-width: 39.9375em) {
    display: none;
  }
}

header, .question-header {
  @media screen and (max-width: 39.9375em) {
    text-align: center;
  }
  background-color: #12a8ca;
  min-height: 120px;
  img.logo {
    display: inline-block;
    max-height: 100px;
    margin-top: 10px;
  }
  h2 {
    font-size: 25px;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    margin-top: 15px;
    margin-left :20px;
    font-weight: bold;
  }
  h2 .smallest {
    text-transform: none;
  }
  .question-number {
  margin-top: 10px;
    height: 100px;
    width: 100px;
    padding-top: 20px;
    padding-left: 13px;
    padding-right: 11px;
    display: inline-block;
    float: right;
    background-color: #3c2451;
    color: white;
    font-weight: bold;
    font-size: 42px;
    border-radius: 50%;
    .position {
      font-size: 42px;
    }
    .separator {
      font-weight: normal;
      font-size: 20px;
    }
  }
  
}
.btn-custom {
  margin-top: 40px;
    background-color: #12a8ca;
    padding: 20px 40px;
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
  }
.question-footer {
  text-align: center;
  background-color: #3c2451;
  padding-top: 20px;
  padding-bottom: 20px;
}
.merci-button button {
  background-color: #12a8ca;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 45px;
  cursor:pointer;
  border: 0;
  font-size: 22px;
  color: white;
  margin-left : 30px;
    margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.59);
  -moz-box-shadow:    0px 3px 4px rgba(50, 50, 50, 0.59);
  box-shadow:         0px 3px 4px rgba(50, 50, 50, 0.59);
}
.merci-button button.second {
    background-color: #3c2451;
}
.merci-president {
margin-top: 40px;
text-align: right;
  float: right;
  padding-right: 150px;
  p {
    padding-right: 0 !important;
  }
  @media screen and (max-width: 640px) {
      padding-right: 0px;
    }
}
.button, input[type=submit] {
margin-top: 70px;
  background-color: #12a8ca;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 25px 55px;
  cursor:pointer;
  border: 0;
  font-size: 22px;
  color: white;
  -webkit-box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.59);
  -moz-box-shadow:    0px 3px 4px rgba(50, 50, 50, 0.59);
  box-shadow:         0px 3px 4px rgba(50, 50, 50, 0.59);
}
  input[type=submit] {
  display :block;
    margin-left: auto;
    margin-right: auto;
}
button {
  font-weight: bold;
}
.panneau-introduction {
  background-position: 33%;
}
.panneau-introduction-texte {
  .columns {
    @media screen and (max-width: 39.9375em) {
      padding-top: 40px;
      padding-bottom: 20px;
    }
    @media screen and (min-width: 40em) {
      padding-left: 150px;
      padding-right: 150px;
      padding-top: 35%;
      padding-bottom: 50px;
    }
  }
  color: white;
  background-repeat: no-repeat;
  text-align: center;
  .intro-title {
    font-size: 25px;
    @media screen and (max-width: 39.9375em) {
      font-size: 20px;
    }
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;
  }
  .description {
    font-size: 20px;
    line-height: 1.2;
    @media screen and (min-width: 40em) {
      padding-left: 150px;
      padding-right: 150px;
    }
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.container-panneau_question .input-container  {
  p.label-choix_unique, p.label-choix_multiple {
    color: #3c2451;
    @media screen and (max-width: 39.9375em) {
      font-size: 26px;
      margin-top: 20px;
    }
    font-size: 27px;
    text-align: center;
    margin-bottom: 40px;
    .source {
      display: block;
      font-size: 14px;
    }
  }
  .field-row .columns {
    @media screen and (min-width: 40em) {
      padding-left: 150px;
      padding-right: 150px;
    }
  }
  .reponse-container-choix_multiple {
    @media screen and (min-width: 40em) {
      padding-left: 150px;
      padding-right: 150px;
    }
    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }
  label {
    color: #3c3c3c;
  }
}

footer {
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: #12a8ca;
  .logo {
    max-height: 50px;
  }
  .links {
  padding-top: 15px;
    &, a, a:hover {
      color: white;
    }
  }
  * {
    vertical-align: middle;
  }
  .social-links {
  }
  .logo, .links, .social-links {
    display: inline-block;
  }
  .columns {
    @media screen and (min-width: 40em) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @media screen and (max-width: 39.9375em) {
      text-align: center;
      padding-bottom: 40px;
    }
  }
}

form > .field-row .columns {
  text-align: center;
}

input[type=radio], input[type=checkbox] {
  display: none;
}

input[type=radio] + label .radio-checkbox,
input[type=checkbox] + label .radio-checkbox {
  display:inline-block;
  margin-top: 4px;
  margin-right: 11px;
  vertical-align: top;
  width:29px;
  height:29px;
  background:url("/uploads/radio-1.jpg") left top no-repeat;
  cursor:pointer;
}

input[type=checkbox]:checked + label .radio-checkbox,
input[type=radio]:checked + label .radio-checkbox {
  background-position: -29px top !important;
}

.label-container {
  font-size: 20px;
  display: inline-block;
  width: calc(100% - 40px);
}

#slide-2 input[type=checkbox] + label .radio-checkbox {
  background:url("/uploads/radio-2.png") left top no-repeat;
}

.container-panneau_informations_personnelles {
  @media screen and (max-width: 39.9375em) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.container-panneau_informations_personnelles .label-container {
  color: #73879c;
  font-size: 22px;
  font-weight: 500;
}

.reduced-width, #slide-6 + .field-row {
  width: 100%;
  @media screen and (min-width: 40em) {
    padding-left: 150px;
    padding-right: 150px;
  }
}

#slide-6 + .field-row {
  text-align: center;
  margin-top: 30px;
}

.intl-tel-input {
  width: 100%;
}

.input-container-choix_unique#slide-3 {
  width: 100%;
  @media screen and (max-width: 640px) {
  }
  .container-all-radio {
    .reponse-container-choix_multiple {
      display: inline-block;
    }
  }
}
#slide-7 {
    .radio-checkbox {
    display: none;
  } 
    .label-container {
      margin-top: 40px;
      text-align: center;
      font-size: 16px;
    }
}
#slide-2 {
  .reponse-container-choix_multiple {
    text-align: left;
  margin-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    width: 103px;
    @media screen and (max-width: 640px) {
     margin-top: 0px;
     padding-left: 5px;
    padding-right: 5px;
    }
  }
  .columns {
  padding-left: 0;
  padding-right: 0;
  }
  .label-container {
    width: auto;
    margin-left: 7px !important;
  }
  .container-all-radio {
  text-align: center;
  }
}

.intro-infos-perso {
  color: #506a85;
  font-weight: 500;
  font-size: 32px;
  @media screen and (min-width: 40em) {
    padding-left: 100px;
    padding-right: 100px;
  }
  text-align: center;
  margin-bottom: 40px;
}

textarea, input[type=text], input[type=email] {
  &, &:focus {
    background: #3c2451;
    border-radius: 3px;
    resize: none;
    margin-top: 10px;
    margin-bottom: 0;
    box-shadow: none;
    height: auto;
    padding: 15px;
    &, &::placeholder {
      color: white;
      opacity: 1;
      font-size: 21px;
    }
  }
}

.intl-tel-input {
  margin-top: 10px;
}

textarea {
  &, &:focus {
    &, &::placeholder {
      border-radius: 0;
      color: white;
    }
  }
}

section.merci, section.don {
  @media screen and (min-width: 40em) {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

section.merci {
  text-align: center;
  .arrow {
    padding-top: 40px;
  }
  @media screen and (max-width: 39.9375em) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &, h2 {
    color: #3c2451;
  }
  h2 {
  color: #12a8ca;
    text-transform: uppercase;
    font-family: 'Novecento Bold';
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    @media screen and (max-width: 39.9375em) {
      font-size: 35px;
    }
  }
  p {
    font-size: 24px;
    @media screen and (min-width: 40em) {
    }
  }
}

section.merci-inter {
  padding-top: 100px;
  padding-bottom: 70px;
  text-align: center;
  color: #506a85;
  @media screen and (min-width: 40em) {
    .columns {
      padding-left: 200px;
      padding-right: 200px;
    }
  }
  .arrow {
    padding-top: 40px;
  }
  p {
    font-size: 20px;
  }
  .first-part {
  }
  .second-part {
    font-family: "museo",serif;
    font-weight: 700;
  }
}

section.don {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("/uploads/bg-merci.jpg");
  background-size: cover;
  text-align: center;
  &, h2 {
    color: white;
  }
  h2, .subtitle {
    font-family: "museo",serif;
  }
  h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    .second-line {
      font-weight: 500;
    }
  }
  .subtitle {
    font-size: 20px;
    @media screen and (min-width: 40em) {
      padding-left: 250px;
      padding-right: 250px;
    }
    margin-bottom: 50px;
  }
  .bloc-container {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
    @media screen and (min-width: 40em) {
      margin-left: 100px;
      margin-right: 100px;
    }
    background-color: white;
    .price-container {
      color: #6c5994;
      padding-top: 30px;
      @media screen and (min-width: 40em) {
	padding-bottom: 30px;
      }
      .avec {
	font-size: 24px;
	text-transform: uppercase;
	line-height: 1;
	color: #8e7cb4;
      }
      .price {
	font-size: 68px;
	line-height: 1;
      }
      .deduction {
	font-size: 12px;
	line-height: 1;
	display: block;
	padding-left: 50px;
	padding-right: 50px;
      }
    }
    .middle-text {
      text-align: left;
      font-weight: 500;
      color: #73879c;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .don-container {
      padding-right: 1px;
      padding-top: 1px;
      padding-bottom: 1px;
      @media screen and (max-width: 39.9375em) {
	padding: 0;
      }
      .purple-container {
	background-color: #6c5994;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
      }
      p {
	color: white;
	text-transform: uppercase;
	margin-bottom: 0;
	font-size: 21px;
      }
    }
  }
}
