/* This file is made to be edited */

/*
#slide-0 label {
  color: white;
}
*/

@font-face {
    font-family: 'Poppin Bold';
    src: url('/assets/fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Poppins Medium';
    src: url('/assets/fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Poppins Regular';
    src: url('/assets/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Novecento Bold';
    src: url('/assets/fonts/novecentosanswide-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/novecentosanswide-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Novecento Light';
    src: url('/assets/fonts/novecentosanswide-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/novecentosanswide-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Novecento';
    src: url('/assets/fonts/novecentosanswide-normal-webfont.woff2') format('woff2'),
         url('/assets/fonts/novecentosanswide-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.other-choice-text {
	display: inline-block;
	width: auto;
	margin-left: 10px;
}

.error-message {
	color: red;
}
.error-message {
	display: none;
}
.error .error-message {
	display: block;
}

.panneau-question-texte,
.input-container {
	background: white;
}
