/* This file is made to be edited */

/*
#slide-0 label {
  color: white;
}
*/

.other-choice-text {
	display: inline-block;
	width: auto;
	margin-left: 10px;
}

.error-message {
	color: red;
}
.error-message {
	display: none;
}
.error .error-message {
	display: block;
}

.panneau-question-texte,
.input-container {
	background: white;
}
