<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.options.meta.title }}</title>
    <meta name="description" content="{{ page.options.meta.description }}">
    <link rel="stylesheet" href="/assets/css/foundation.css">
    {% for source in layout.css%}
    <link rel="stylesheet" href="{{ source }}">
    {% endfor %}
  </head>
  <body>
    {{ content }}
    <script src="/assets/js/vendor/jquery.js"></script>
    <script src="/assets/js/vendor/what-input.js"></script>
    <script src="/assets/js/vendor/foundation.js"></script>
    <script src="/assets/js/global.js"></script>
    {% for source in layout.javascript %}
    <script src="{{ source }}"></script>
    {% endfor %}
  </body>
</html>
